<p>editor-empleados works!</p>


<div class="container-fluid">
    <div class="row justify-content-center">
        <form class="form-group row">
            <div class="form-group col-3">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="cuadroNombre">
            </div>
            <div class="form-group col-3">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" class="form-control" name="apellido" placeholder="Apellido" [(ngModel)]="cuadroApellido">
            </div>
            <div class="form-group col-3">
                <label for="cargo">Cargo:</label>
                <input type="text" id="cargo" class="form-control" name="cargo" placeholder="Cargo" [(ngModel)]="cuadroCargo">
            </div>
            <div class="form-group col-3">
                <label for="salario">Salario:</label>
                <input type="number" id="salario" class="form-control" name="salario" placeholder="Salario" [(ngModel)]="cuadroSalario">
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary boton" (click)="actualizaEmpleado()  ">Realizar</button>

                </div>
                <!-- <div class="col-2 margen">
                    <button type="submit" class="btn btn-primary boton" (click)="eliminaEmpleado()  ">Eliminar</button>
                </div>-->
            </div>
        </form>
    </div>
    <div class="row inter"></div>
    <div class="row align-content-end">
        <div class=>
            <button type="button" class="btn btn-primary" (click)="volverHome()">Home</button>
        </div>
    </div>
</div>
