<div class="container-fluid hijo">
    <div class="row">
        <div class="col-4">
            <h2>Empleados Hijo</h2>
        </div>
    </div>

    <div class="row ">
        <div class="col-4">
            <div>
                <a [routerLink]="['edita',iH]">
                {{iH+1}}: {{empleadoH.nombre}} {{empleadoH.apellido}} {{empleadoH.cargo}} {{empleadoH.salario}}</a>
            </div>
            <app-caract-empleados (caractEmpleado)="agregaCaract($event)"></app-caract-empleados>
            <ul>
                <li *ngFor=" let caracteristica of caracteristicas ">{{caracteristica}}</li>
            </ul>
        </div>
    </div>





</div>
